name: Build and Upload Application, Lint and Build Website

on:
    push:
    pull_request:

jobs:
    application:
        runs-on: windows-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Build Application
              run: |
                  cmake -S . -B build -G "Visual Studio 17 2022" -A x64
                  cmake --build build --config Release --target R6NoRecoil

            - name: Build Config Editor
              run: |
                  cd src/config-editor/ui
                  yarn install
                  yarn build
                  cd ..
                  cmake -S . -B build -G "Visual Studio 17 2022" -A x64
                  cmake --build build --config Release --target ConfigEditor

            - name: Strip symbols from executables
              run: |
                  strip build/Release/R6NoRecoil.exe
                  strip src/config-editor/build/bin/Release/ConfigEditor.exe

            - name: Prepare release folder
              run: |
                  mkdir R6NoRecoil
                  copy build\Release\R6NoRecoil.exe R6NoRecoil\
                  copy src\config-editor\build\bin\Release\ConfigEditor.exe R6NoRecoil\
                  copy build\Config.toml R6NoRecoil\
                  copy build\WeaponData.json R6NoRecoil\
                  copy scripts\UpdateTool.bat R6NoRecoil\
                  xcopy assets R6NoRecoil\assets /E /I /Y

            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                  name: R6NoRecoil
                  path: R6NoRecoil

    website:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Yarn install
              run: cd website && yarn

            - name: Lint website
              run: cd website && yarn lint

            - name: Build website
              run: cd website && yarn build
